* {
    box-sizing: border-box;
}
.p {
    border:solid 1px black;
    width: 250px;
    height:250px;
    margin: 20px;
    margin-left: 600px;
}

.v {
    width: 500px;
    margin: 20px;
    margin-left:625px;
}



#red {
    background-color:red;
}
#yellow{
    background-color:yellow;
    color:black;
}
#blue {
    background-color:blue;
}
#green {
    background-color:green;
}


